.container {
  position: relative;
  text-align: center;
  color: white;
}
    
body {
  margin: 0;
}
    
.large-text {
  font-size: 500px; 
}
    
.welcome {
  position: absolute;
  top: 2.5%;
  left: 9%;
  //transform: translate(top, left);
}
