:root.dark {
  --vp-c-blue-1: #1c6ced !important;
  --vp-c-blue-2: #3d8bf7 !important;
  --vp-c-blue-3: #6fa8ff !important;
  --vp-c-blue-soft: rgba(28, 108, 237, 0.1) !important;
}

:root {
  --vp-c-blue-1: #0066cc;
  --vp-c-blue-2: #0088ff;
  --vp-c-blue-3: #00aaff;
  --vp-c-blue-soft: rgba(0, 102, 204, 0.1);

  --vp-c-brand-1: var(--vp-c-blue-3);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-1);
  --vp-c-brand-soft: var(--vp-c-blue-soft);

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-1) 30%,
                                                          var(--vp-c-brand-2)
  );
  --vp-home-hero-image-background-image: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand-1) 30%,
                                                                 var(--vp-c-brand-2)
  );
  --vp-home-hero-image-filter: blur(66px)
}

.VPHomeHero {
  margin-top: 3rem !important;
  margin-bottom: 6rem;
}

div.VPHero.has-image.VPHomeHero > div > div.image > div > img{
  margin-top: -16px !important;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}
