@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /*
  @apply bg-background-light-10 dark:(bg-background-dark-90 text-white) smooth-scroll;
  -webkit-tap-highlight-color: transparent;
  */
}

#__next {
  @apply flex flex-col h-screen;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas is behind everything else */
  background-color: black;
  opacity: 1;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnimation 1s ease forwards;
  color: #ffff;
  font-size: 50px;
}

.warningtext {
  color: #ff7b00;
}

.loading-screen {
    position: fixed;
    z-index: 9999;
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; /* Set initial opacity to 1 (fully visible) */
    transition: opacity 0.3s; /* Add transition for opacity property */
}
  
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
#mainContent {
  display: none; /* Initially hide the main content */
}

.logo {
  position: absolute;
  top: 10px; /* Adjust as per your preference */
  left: 10px; /* Adjust as per your preference */
}

.name {
  position: absolute;
  top: -5px; /* Adjust as per your preference */
  left: 85px; /* Adjust as per your preference */
  font-size: 30px;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-style: italic;
}

.text-blue-500 {
  color: rgb(59 130 246);
}
.text-4xl {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.text-5xl {
}
@keyframes fadeUpAnimation {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
